.checkout-information-container {
  .checkout-information-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    .information {
      width: 60%;

      .w-100 {
        width: 100%;
      }
      .w-50 {
        width: 49%;
      }
      .pd-10 {
        padding: 10px;
      }
      .mgt-10 {
        margin-top: 10px;
      }
      input {
        padding: 10px;
        margin-top: 15px;
      }
      .information-name {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .checkout-information-action {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .link {
          &:hover {
            color: green;
            cursor: pointer;
          }
        }
      }
    }
    .oder-container {
      width: 30%;
    }
  }
  .title {
    font-size: xx-large;
    text-align: center;
  }
}

.information-tag {
  font-size: larger;
  font-weight: bold;
}
