.ant-menu-submenu {
  background: green !important;
}
.ant-menu-submenu-placement-bottomRight {
  background: green !important;
}
.ant-menu-submenu-popup {
  background: green !important;
}
.ant-menu-sub {
  background: green !important;
}
.ant-menu-vertical {
  background: green !important;
}
.ant-menu-item-selected {
  background-color: rgb(87, 199, 47) !important;
}
.white-text {
  color: white;
}
.pointer {
  cursor: pointer;
}
.span-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.display-fl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.btn-common {
  background-color: green;
  color: white !important;
  padding: 10px !important;
}
.mgbt-2 {
  margin-bottom: 20px;
  margin-top: 10px;
}
.mgb-1 {
  margin-bottom: 10px;
}

.vertical-divider {
  height: 20px;
  border: 1px solid gray;
}

.price {
  color: red;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
